.manage-bookmarks-wrapper {
  display: flex;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 220px;
  background-color: rgba($color: black, $alpha: 0.7);
  backdrop-filter: blur(8px);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  overflow: auto;
}

.sidebar-heading {
  color: rgba($color: white, $alpha: 0.8);
  font-weight: 600;
  font-size: 20px;
  padding: 25px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  position: relative;
  color: rgba($color: white, $alpha: 0.78);
  font-size: 18px;
  padding: 5px 25px;

  &:hover {
    color: rgba($color: white, $alpha: 0.85);
  }

  &.selected {
    color: rgba($color: white, $alpha: 0.95);
  }
}

.sidebar-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: rgba($color: white, $alpha: 0.8);

  transition: 0.2s;

  opacity: 0;
  transform: scaleY(0);
}

.sidebar-item.selected::before {
  opacity: 1;
  transform: scaleY(1);
}

.content {
  flex-grow: 1;

  overflow: auto;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
