.note-card {
  background: rgba($color: black, $alpha: 0.5);

  color: rgba($color: white, $alpha: 0.95);

  padding: 25px;
  border-radius: 4px;

  cursor: pointer;

  transition: 0.1s;

  &:hover {
    background: rgba($color: black, $alpha: 0.6);
    backdrop-filter: blur(2px);
  }
}

.note-card-title {
  font-size: 20px;
  font-weight: 600;
}

.note-card-content {
  margin-top: 7px;
}
